h1 {
    text-align: center;
    }
.box-direction {
    display: flex;
    flex-direction: row;
}
.box-style {
    width: 300px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4em;
    text-align: center;
    font-family: tahoma, sans-serif;
    font-weight: 900;
}
.box-darckcyan {
    background-color: darkcyan;
}
.box-goldenrod {
    background-color: goldenrod;
}
.box-LightSalmon {
    background-color: LightSalmon;
}
.box-green {
    background-color: green;
}
.box-64-64-64 {
    background-color: rgb(64,64,64);
}
.box-171-238-7 {
    background-color: rgb(171,238,7);
}
.box-218-56-21 {
background-color: rgb(218,56,21)
}
.box-128-237-31 {
    background-color: rgb(128, 237, 31);
}
.box-14FAC3 {
    background-color: #14FAC3;
}
.box-B51FED {
    background-color: #B51FED;
}
.box-63D3FD {
    background-color: #63D3FD;
}
.box-E3B227 {
    background-color: #E3B227;
}